In [13]:
### Importing pandas as pd, regex as re.

import pandas as pd
import re
import math

### Creating an header for our table

header_we = ['Account_Number', 'Account_Name', 'Transaction_Fee', 'Phone_Number']

### Importing csv as df

df = pd.read_csv('accounts.csv',  delimiter = "|", names = header_we)

In [14]:
### printing csv denote df

df

,Account_Number,Account_Name,Transaction_Fee,Phone_Number
0,4897656141,'Lynch LLC',2.9613,+6112093207284
1,416299120,Bauch-Harber,2.5912,1-844-276-8586
2,863190169,'Glover LLC',0.1424,'(952) 836-2063'
3,3632167314,Bahringer-Morissette,2.5782,855-593-2350
4,2727926816,Rosenbaum-Moore,1.6847,'(512) 921-3559'
5,4184579381,'Volkman Group',2.7007,1-855-484-8667
6,5123290115,"'Swaniawski, Morar and Kuhlman'",2.7730,673-419-5806
7,9839996916,'Graham LLC',0.8057,'(855) 342-7256'
8,3973362421,"'Ferry, Graham and Dietrich'",1.1478,1-730-353-2534
9,9467539399,Parisian-Weimann,0.9207,866.546.4440
10,6629998899,"'Terry, Williamson and Funk'",2.2634,+2636346729936
11,354882503,"'Schumm, Moore and Kessler'",0.6960,877-925-8204
12,2856318530,'Koepp PLC',0.6420,+1.587.738.2986
13,5592600380,Murazik-Bernhard,1.9947,866-571-9562
14,7766378181,Mertz-Schneider,1.5964,'(521) 242-0821'
15,3438836537,Mueller-Waelchi,1.2613,855-291-3693
16,3641356093,Roob-Price,2.0667,+1-761-569-7823
17,8700506040,"'Sanford, Hirthe and Feest'",2.8058,'(800) 867-9334'
18,6048175582,Gutmann-Bergstrom,0.8561,+1.379.790.7492
19,1895694558,'Howell and Sons',2.7958,855-492-9857
20,4125880961,Ritchie-Boyer,2.3610,+7342013118355
21,8453594605,"'Spinka, Will and Kassulke'",2.6283,855-796-3399
22,2677148512,Nikolaus-Schroeder,2.5780,704.920.9266
23,1918499201,"'Jakubowski, Cummings and Jacobi'",2.0486,'(855) 479-1506'
24,895966664,"'Kutch, Larkin and Wehner'",2.5739,+18683698711
25,1298991286,"'Effertz, Lemke and VonRueden'",1.2394,844.448.3970
26,620305785,"'Reichert, Towne and Gorczany'",1.5162,1-541-540-7299
27,677360025,"'Hudson, Buckridge and Dooley'",2.6669,877.985.7048
28,8066157797,"'Jones, Grimes and Fritsch'",2.8660,304-794-1205
29,4412349868,"'Predovic, Leffler and Moore'",1.7587,855.538.4568
30,8207031549,'Rosenbaum Group',0.0465,+1922183875802
31,113803156,'Thompson PLC',1.7581,'(888) 270-5368'
32,3292248498,'Johns and Sons',2.4867,+1-591-396-1486
33,6573155122,'O''Connell Inc',1.2711,855.246.3523
34,1881405184,"'Kunze, Schultz and Lehner'",2.7099,441-985-5485
35,7566819338,Jacobi-Dibbert,2.9324,866.358.9435
36,8003220858,'Beer and Sons',1.7476,+1-740-645-5958
37,633176540,"'Crooks, Vandervort and Witting'",0.6419,1-866-914-2877
38,1465669566,'O''Kon LLC',0.8830,+1-817-944-2288
39,9843859501,'Denesik PLC',0.9501,800.470.4395

In [15]:
### Using lambda format the Account Name by adding leading zeros at and making sure its 10 digit long.

df['Account_Number']=df['Account_Number'].apply(lambda x: '{0:0>10}'.format(x))

In [16]:
### Result 

df['Account_Number']

0     4897656141
1     0416299120
2     0863190169
3     3632167314
4     2727926816
5     4184579381
6     5123290115
7     9839996916
8     3973362421
9     9467539399
10    6629998899
11    0354882503
12    2856318530
13    5592600380
14    7766378181
15    3438836537
16    3641356093
17    8700506040
18    6048175582
19    1895694558
20    4125880961
21    8453594605
22    2677148512
23    1918499201
24    0895966664
25    1298991286
26    0620305785
27    0677360025
28    8066157797
29    4412349868
30    8207031549
31    0113803156
32    3292248498
33    6573155122
34    1881405184
35    7566819338
36    8003220858
37    0633176540
38    1465669566
39    9843859501
Name: Account_Number, dtype: object

In [17]:
### Using regex and stip and replace method to delete unecessary charaters in df['Acoount_Number'] as s except (, - space)

df['Account_Name'] = df['Account_Name'].str.replace("(\(.*?\))", "").str.strip("'''")

In [18]:
df['Account_Number']

0     4897656141
1     0416299120
2     0863190169
3     3632167314
4     2727926816
5     4184579381
6     5123290115
7     9839996916
8     3973362421
9     9467539399
10    6629998899
11    0354882503
12    2856318530
13    5592600380
14    7766378181
15    3438836537
16    3641356093
17    8700506040
18    6048175582
19    1895694558
20    4125880961
21    8453594605
22    2677148512
23    1918499201
24    0895966664
25    1298991286
26    0620305785
27    0677360025
28    8066157797
29    4412349868
30    8207031549
31    0113803156
32    3292248498
33    6573155122
34    1881405184
35    7566819338
36    8003220858
37    0633176540
38    1465669566
39    9843859501
Name: Account_Number, dtype: object

In [19]:
### Round transaction fee to 2 decimal place and making sure its int&float.

df['Transaction_Fee'] = df['Transaction_Fee'].round(decimals=2)

### Result

df['Transaction_Fee']

0     2.96
1     2.59
2     0.14
3     2.58
4     1.68
5     2.70
6     2.77
7     0.81
8     1.15
9     0.92
10    2.26
11    0.70
12    0.64
13    1.99
14    1.60
15    1.26
16    2.07
17    2.81
18    0.86
19    2.80
20    2.36
21    2.63
22    2.58
23    2.05
24    2.57
25    1.24
26    1.52
27    2.67
28    2.87
29    1.76
30    0.05
31    1.76
32    2.49
33    1.27
34    2.71
35    2.93
36    1.75
37    0.64
38    0.88
39    0.95
Name: Transaction_Fee, dtype: float64

In [20]:
### Eliminating characters in phone_Number with regex and converting it to a string formatted as ###-###-####
  
df['Phone_Number'] = df['Phone_Number'].map(lambda x: re.sub(r'\W+', '', x))

df['Phone_Number']

0     6112093207284
1       18442768586
2        9528362063
3        8555932350
4        5129213559
5       18554848667
6        6734195806
7        8553427256
8       17303532534
9        8665464440
10    2636346729936
11       8779258204
12      15877382986
13       8665719562
14       5212420821
15       8552913693
16      17615697823
17       8008679334
18      13797907492
19       8554929857
20    7342013118355
21       8557963399
22       7049209266
23       8554791506
24      18683698711
25       8444483970
26      15415407299
27       8779857048
28       3047941205
29       8555384568
30    1922183875802
31       8882705368
32      15913961486
33       8552463523
34       4419855485
35       8663589435
36      17406455958
37      18669142877
38      18179442288
39       8004704395
Name: Phone_Number, dtype: object

In [21]:
#### converting the number to ###-###-#### format

contactphone=list()
for phone_no in df['Phone_Number']:
    contactphone.append("%c%c%c-%c%c%c-%c%c%c%c" % tuple(map(ord,list(str(phone_no)[:10]))))
contactphone = pd.DataFrame(contactphone)

### Assigning contact phone to [Phone_Number]

contactphone

               0
0   611-209-3207
1   184-427-6858
2   952-836-2063
3   855-593-2350
4   512-921-3559
5   185-548-4866
6   673-419-5806
7   855-342-7256
8   173-035-3253
9   866-546-4440
10  263-634-6729
11  877-925-8204
12  158-773-8298
13  866-571-9562
14  521-242-0821
15  855-291-3693
16  176-156-9782
17  800-867-9334
18  137-979-0749
19  855-492-9857
20  734-201-3118
21  855-796-3399
22  704-920-9266
23  855-479-1506
24  186-836-9871
25  844-448-3970
26  154-154-0729
27  877-985-7048
28  304-794-1205
29  855-538-4568
30  192-218-3875
31  888-270-5368
32  159-139-6148
33  855-246-3523
34  441-985-5485
35  866-358-9435
36  174-064-5595
37  186-691-4287
38  181-794-4228
39  800-470-4395

In [22]:
df['Phone_Number'] = contactphone
df['Phone_Number']

0     611-209-3207
1     184-427-6858
2     952-836-2063
3     855-593-2350
4     512-921-3559
5     185-548-4866
6     673-419-5806
7     855-342-7256
8     173-035-3253
9     866-546-4440
10    263-634-6729
11    877-925-8204
12    158-773-8298
13    866-571-9562
14    521-242-0821
15    855-291-3693
16    176-156-9782
17    800-867-9334
18    137-979-0749
19    855-492-9857
20    734-201-3118
21    855-796-3399
22    704-920-9266
23    855-479-1506
24    186-836-9871
25    844-448-3970
26    154-154-0729
27    877-985-7048
28    304-794-1205
29    855-538-4568
30    192-218-3875
31    888-270-5368
32    159-139-6148
33    855-246-3523
34    441-985-5485
35    866-358-9435
36    174-064-5595
37    186-691-4287
38    181-794-4228
39    800-470-4395
Name: Phone_Number, dtype: object

In [23]:
### The Result

df

,Account_Number,Account_Name,Transaction_Fee,Phone_Number
0,4897656141,Lynch LLC,2.96,611-209-3207
1,0416299120,Bauch-Harber,2.59,184-427-6858
2,0863190169,Glover LLC,0.14,952-836-2063
3,3632167314,Bahringer-Morissette,2.58,855-593-2350
4,2727926816,Rosenbaum-Moore,1.68,512-921-3559
5,4184579381,Volkman Group,2.70,185-548-4866
6,5123290115,"Swaniawski, Morar and Kuhlman",2.77,673-419-5806
7,9839996916,Graham LLC,0.81,855-342-7256
8,3973362421,"Ferry, Graham and Dietrich",1.15,173-035-3253
9,9467539399,Parisian-Weimann,0.92,866-546-4440
10,6629998899,"Terry, Williamson and Funk",2.26,263-634-6729
11,0354882503,"Schumm, Moore and Kessler",0.70,877-925-8204
12,2856318530,Koepp PLC,0.64,158-773-8298
13,5592600380,Murazik-Bernhard,1.99,866-571-9562
14,7766378181,Mertz-Schneider,1.60,521-242-0821
15,3438836537,Mueller-Waelchi,1.26,855-291-3693
16,3641356093,Roob-Price,2.07,176-156-9782
17,8700506040,"Sanford, Hirthe and Feest",2.81,800-867-9334
18,6048175582,Gutmann-Bergstrom,0.86,137-979-0749
19,1895694558,Howell and Sons,2.80,855-492-9857
20,4125880961,Ritchie-Boyer,2.36,734-201-3118
21,8453594605,"Spinka, Will and Kassulke",2.63,855-796-3399
22,2677148512,Nikolaus-Schroeder,2.58,704-920-9266
23,1918499201,"Jakubowski, Cummings and Jacobi",2.05,855-479-1506
24,0895966664,"Kutch, Larkin and Wehner",2.57,186-836-9871
25,1298991286,"Effertz, Lemke and VonRueden",1.24,844-448-3970
26,0620305785,"Reichert, Towne and Gorczany",1.52,154-154-0729
27,0677360025,"Hudson, Buckridge and Dooley",2.67,877-985-7048
28,8066157797,"Jones, Grimes and Fritsch",2.87,304-794-1205
29,4412349868,"Predovic, Leffler and Moore",1.76,855-538-4568
30,8207031549,Rosenbaum Group,0.05,192-218-3875
31,0113803156,Thompson PLC,1.76,888-270-5368
32,3292248498,Johns and Sons,2.49,159-139-6148
33,6573155122,O''Connell Inc,1.27,855-246-3523
34,1881405184,"Kunze, Schultz and Lehner",2.71,441-985-5485
35,7566819338,Jacobi-Dibbert,2.93,866-358-9435
36,8003220858,Beer and Sons,1.75,174-064-5595
37,0633176540,"Crooks, Vandervort and Witting",0.64,186-691-4287
38,1465669566,O''Kon LLC,0.88,181-794-4228
39,9843859501,Denesik PLC,0.95,800-470-4395

In [24]:
df.to_csv('NEW_DATA.csv', sep='|', index=False)